# LaTeX build artifacts to ignore
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.xdv
*.idx
*.ilg
*.ind

# Other common intermediate files
*.lof
*.lot
*.nav
*.snm
*.vrb

# Exclude specific large files (>100MB)
material-recopilado/Red de Apoyo Fundamentals Solidaria/Videos + Repasos/Matemáticas y Probabilidades/Calculo III/Ejercicios Calculo III (Video).mp4
material-recopilado/Red de Apoyo Fundamentals Solidaria/Videos + Repasos/Matemáticas y Probabilidades/Calculo I/Repaso Calculo I (Video).mp4
material-recopilado/Red de Apoyo Fundamentals Solidaria/Videos + Repasos/Matemáticas y Probabilidades/EDO/Ejercicios EDO (Video).mp4
material-recopilado/Red de Apoyo Fundamentals Solidaria/Videos + Repasos/Matemáticas y Probabilidades/Calculo II/Ejercicios Calculo II (Video).mp4
material-recopilado/Red de Apoyo Fundamentals Solidaria/Videos + Repasos/Matemáticas y Probabilidades/Calculo I/Ejercicios Calculo I (Video).mp4
material-recopilado/Red de Apoyo Fundamentals Solidaria/Videos + Repasos/Matemáticas y Probabilidades/EDO/Repaso EDO (Video).mp4
material-recopilado/Red de Apoyo Fundamentals Solidaria/Videos + Repasos/Matemáticas y Probabilidades/Probabilidades y Estadisticas/Ejercicios/Ejercicios 1.mp4
material-recopilado/Red de Apoyo Fundamentals Solidaria/Videos + Repasos/Matemáticas y Probabilidades/Probabilidades y Estadisticas/Ejercicios/Ejercicios 2.mp4

/otro repo